body {
  color: #000000;
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

.clearfix {
  clear: both;
}

.clearfix::before,
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

a, a:visited {
    border: none;
    color: #000000;
    font-size: 1em;
    text-decoration: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

#container {
  border: 1px solid #cdcdcc;
  border-radius: 7px;
  border-left: 4px solid orange;
  /* box-shadow: 1px 6px 10px 0px rgba(0,0,0,0.75); */
  margin: 0 auto;
  padding: 1em;
  width: 1200px;
}

.header {
    background: linear-gradient(to right, #67b26b, #4ca2cb);
    margin-bottom: 3em;
    padding: 1.5em;
}

.logo img {
  width: 10%;
}

.main-nav {
    float: right;
    padding-top: 0.7em;
}

.main-nav ul li { 
    display: inline;
    font-family: 'Poppins', sans-serif;
    margin-top: 2em;
    padding-right: 2em;
}

.main-nav ul li.active {
    text-decoration: underline;
}

.main-nav ul li a {
    color: #2c2b2b; 
}

.reportsuitenav {
  color: #fff;
  display: inline;
  float: right;
  padding-right: 2em;
}

.reportsuitenav ul li {
  display: inline-block;
  margin-top: 0.3em;
}


.main-content {
  margin: 0 auto;
  padding-left: 15px;
  /*Adjust this if you need to make the dashboard wider*/
  width: 90%;
}

.left-container {
  border-radius: 7px;
  border: 2px solid;
  height: 5.5em;
  float: left;
  margin: 0 auto;
  padding: 2em;
  width: 14%;
}

.main-nav__btn {
  background: none;
  border: 1px solid #cdcdcc;
  border-radius: 7px;
  border-left: 4px solid orange;
  cursor: pointer;
  font-size: 16px;
  height: 2.5em;
  margin-bottom: 0.8em;
  text-align: start;
  padding: 0.5em;
  outline: none;
  width: 12em;
}

.main-nav__btn:hover {
  background-color: #f3f3f3;
}

.fas.fa-caret-right {
  float: right;
}

.right-container {
  box-shadow: 1px 6px 10px 0px rgba(0,0,0,0.75);
  border-radius: 7px;
  margin: 0 auto;
  float: right;
  width: 80%;
  -webkit-box-shadow: 1px 6px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 6px 10px 0px rgba(0,0,0,0.75);
}

.section {
  border: 2.3px solid #2c6ab1;
  clear: both;
  display: block;
  border-radius: 7px;
  margin-bottom: 1.5em;
  width: 100%;
}


.section::before,
.section::after {
  clear: both;
  content: '';
  display: table;
}

.counts {
  text-align: right;
}

.data-table {
  border-collapse: collapse;
  font-size: 0.8em;
  font-family: 'Poppins', sans-serif;
  height: 20px;
  width: 99%;
}

table {
    color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    margin:5px;
    border:#ccc 1px solid;
    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}

table th {
    padding:11px 15px 12px 15px;
    border-top:1px solid #fafafa;
    border-bottom:1px solid #e0e0e0;
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}

table th:first-child {
    text-align: left;
    padding-left:20px;
}

table tr {
    /* text-align: center; */
    padding-left:20px;
}

table td:first-child {
    /*text-align: left;*/
    padding-left:20px;
    border-left: 0;
}

table td {
  padding:8px;
  border-top: 1px solid #ffffff;
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}

table td.counts {
  text-align: center;
}

table tr.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}

table tr:last-child td {
  border-bottom:0;
}

table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}

.chart {
  height: 100%;
  width: 100%;
}

#numberWidget {
  margin-top: 2.25em;
}

#clock-icon {
  display: inline-block;
  float: right;
  margin-top: 0.55em;
  margin-right: 0.5em;
}

#time {
  float: right;
  font-family: 'Poppins', sans-serif;
  margin-top: 0.5em;
}

.selected {
  background-color: rgb(8, 123, 255);
  color: #fff;
}

.heading-one {
  font-size: 40px;
  padding: 1em 0 1em 0;
  text-align: center;
  width: 100%;
}

#reportsuiteid {
  font-weight: bold;
}

.number {
    display: block;
    font-size:60px;
    text-align: center;
}

.no-data {
    font-size: 40px;
    color: red;
}

/*Mobile Changes*/
@media (max-width: 640px) {
    .widget {
        float: none;
        width: auto;
    }
    .half {
        width: auto;
    }
}

/* For realtime graph */
path {
    stroke: #5687d1;
    stroke-width: 3;
    fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #e0e0e0;
  shape-rendering: crispEdges;
}

circle {
    stroke: #999;
    stroke-width: 2;
    fill: white;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #e0e0e0;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  stroke: #e0e0e0;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #e0e0e0;
}

#trendGraph {
  border: 1px solid;
  height: 400px;
  padding-top: 8em;
  padding-left: 10em;
}

#donutChart {
  height: 400px;
  width: 100%;
}

#donutChart path {
  stroke: #fff;
}

#donutChart > svg {
  cursor: pointer;
  position: absolute;
  top: 13.5em;
  right: 30em;
}

#legend {
  padding: 10px 0 0 3px;
  float: right;
  margin-right: 15em;
  width: 140px;
}

#legend.rect {
  width: 140px;
}

#legend text {
  fill: #fff;
  font-size: 12px;
}

#explanation {
  position: absolute;
  top: 22.5em;
  left: 25em;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}

#pagelabel {
  position:absolute;
  top: 25.5em;
  left: 23em;
  z-index:-10;
  width: 180px;
}

#pagelabel text {
  text-align: center;
  font-weight: 600;
  fill: #fff;
  font-size: 12px;
}

/*Loading animation while waiting*/

.wait {
  width: 2rem;
  height: 2rem;
  background-image: url(../img/wait_32.gif);
  -webkit-animation: wait-large 1.6s step-end infinite;
  animation: wait-large 1.6s step-end infinite;
  display: inline-block;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  -webkit-background-size: auto 100% auto 100%;
  -moz-background-size: auto 100% auto 100%;
  background-size: auto 100% auto 100%;
}

 .footer {
    background-color: #2d3436;
background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    margin-top: 4em;
    padding-top: 4em;
    padding-bottom: 2em;
 }

 .footer h3 {
     color: rgb(255, 255, 255);
     font-weight: bold;
     margin-bottom: 1.5em;
     text-transform: uppercase;
 }

 .footer__column-one {
     float: left;
     width: 25%;
 }

 .footer__column-two {
    float: left;
    font-size: 1.1em;
    padding: 1em 2em;
    width: 20%;
 }

 .footer__column-three {
     float: left;
     font-size: 1.1em;
     padding: 1em 0;
     width: 20%;
 }

 .footer__column-four {
     color: #ffffff;
     font-size: 1.1em;
     float: right;
     padding: 1em 2em;
     width: 20%;
 }

.footer ul li {
    margin-bottom: 1em;
}

.footer ul li a {
    color: #ffffff;
    font-size: 0.9em;
    transform: rotateY(0deg);
    transition: 0.3s;
}

.footer ul li a:hover {
    color: #ffffff;
    margin-left: 0.3em;
    transition: 0.3s;
}

 .tel-number {
     display: block;
     padding-bottom: 1em;
 }

 .logo.logo-small {
     color: #ffffff;
     display: inline-block;
     margin-bottom: 1em;
     padding: 2em;
     padding-top: 6em;
     padding-left: 8em;
 }

 .logo-small img {
   width: 80%;
 }

 .footer__seperator {
     background-color: #7a7a7a;
     display: block;
     height: 1px;
     margin-top: 16em;
     margin-bottom: 1em;
     width: 100%;
 }

 .footer__bottom .copyright {
     color: #fff;
     display: inline;
     float: left;
     width: 60%;
 }

 .footer__bottom nav {
     float: right;
 }

 .footer__bottom ul li {
    display: inline;
    font-size: 1.2em;
    padding-right: 1em;
 }

.footer__bottom ul li a:hover {
    color: rgb(116, 116, 116);
    margin-left: 0;
}